<launch>

    <!-- bringup turtlebot -->
    <include ns="$(env USER)" file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
        <arg name="multi_robot_name" value="turtlebot_core" />
    </include>

    <!-- zero command failsafe -->
    <node ns="$(arg robot_name)" pkg="navlab_turtlebot_control" type="zero_cmd_failsafe.py"
      name="zero_cmd_failsafe" output="screen"/>

</launch>
